/* PÁGINA: INDEX =============== */
body#page-home{

  // Index: Header ==========
  header{
    margin: 50px auto 30px auto;
    
    h2{
      margin: 5px;
      font-size: 2.25em;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--cor-base-texto);
    }

    h3{
      font-size: 1.75em;
      font-weight: bold;
      color: var(--cor-nivel-1-texto);
    }

    p{
      font-size: 1.25em;
      font-weight: 300;
      color: var(--cor-nivel-1-texto);
    }
  }

  // Index: Projetos ==========
  section{
    .project{
      &-link{ color: var(--cor-base-texto); }
    }
  }

  // Index: WebDev ==========
  section{
    .webdev{
      &-title{ font-size: 1.75em; }
    }
  }
}