/* PÁGINA: Currículo ============================ */
body#pagina-curriculo{
  
  #secao-curriculo{
    // Currículo: Geral ========================
    section.informacao{
      color: var(--cor-base-texto);
      background-color: var(--cor-fundo-destaque);
    }

    // Currículo: Cartão ========================
    .cartao{
      &-apresentacao{
        border: 2px solid rgba(var(--cor-detalhe-rgb), 0.3);
        border-bottom: none;
        border-radius: 7px 7px 0px 0px;
        background-color: var(--cor-fundo-destaque);

        h2{
          font-family: 'Comfortaa', cursive;
          font-weight: 700;
          letter-spacing: -1px;
          font-size: 2em;
          font-weight: bold;
          color: var(--cor-base-texto);
        }

        h3{
          font-size: 1.5em;
          color: var(--cor-media-texto);
        }

        .social{
          margin-top: 10px;
      
          img{
            width: 40px;
            height: auto;
            margin: 0 5px;
          }
        }
      }

      &-baixar{
        padding: 1.6em;
        border-radius: 0px 0px 7px 7px;
        background-color: rgb(var(--cor-detalhe-rgb));
        
        .botao{
          width: fit-content;
          display: grid;
          padding: 10px 20px;
          border: none;
          border-radius: 50px;
          font-weight: bold;
          text-transform: uppercase;
          color: rgb(var(--cor-detalhe-rgb));
          background-color: var(--cor-fundo);
          
          img{
            width: 35px;
            vertical-align: sub;
          }
        }
      }
      
      .img-perfil{ border: 7px solid var(--cor-destaque); }     
    }

    // CURRÍCULO:INFORMAÇÕES ====================
    .informacao{
      border: 2px solid rgba(var(--cor-detalhe-rgb), 0.3);
      border-radius: 7px;
      
      &-titulo{ font-weight: bold; }
      
      ul{
        padding: 0px;
        margin-bottom: 0px;
        list-style-type: none;
        
        strong{ font-weight: bold; }
      }

      tr{
        color: var(--cor-base-texto);
        border-color: var(--cor-destaque);
      }

      .glyphicon { color: var(--cor-destaque); }
      

      // CURRÍCULO:INFORMAÇÕES (CAIXA) ==========
      .collapse{
        &-date{ font-weight: 300; }
        &-area{ 
          padding-left: 1em; 
          border-left: 0.2em solid var(--cor-destaque);
        }
        .titulo{
          display: block;
          font-weight: bold;
          text-transform: uppercase;
        }
        &-subtitle{
          font-weight: 100;
        }
      }
    }
  }
}