/* PÁGINA: PORTFÓLIO ============================== */
.portfolio-box{
  .portfolio-thumbnail{
    height: 250px;
    width: 200px;
    
    img{
      display: block;
      object-fit: cover;
    }
  }

  .portfolio{
    &-category{
      font-weight: bold;

      &.frontend{
        color: $cat-front;
      }
    }

    &-title{
      margin-bottom: 15px;
      font-size: 1.5em;
      font-weight: bold;
      color: var(--txt-base);
    }

    &-abstract{
      color: var(--txt-nv1);
    }

    &-link{
      color: var(--txt-base);

      &::after{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: "";
      }
    }
  }
}