/* PÁGINA: SOBRE ============================== */
body#about{
  
  /* Sobre: Biografia =============== */
  #sec-biography{
    h2{
      margin: 15px 0px;
      font-size: 2em;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--txt-base);
    }

    p.abstract{
      font-size: 1.15em;
      color: var(--txt-base);
    }
  }


  /* Sobre: Matemática =============== */
  .bg-math{
    background-color: var(--bg-reverse);
  }

  #sec-math{
    h2{
      margin: 15px 0px;
      font-size: 1.75em;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--txt-reverse);
    }

    .hr-short{
      color: var(--txt-nv2);
    }

    .sec-math-abstract{
      font-size: 1.15em;
      color: var(--txt-nv2);
    }
  }
}
