/* PÁGINA: INDEX ============================== */
body#page-home{
  header{
    margin: 50px auto 30px auto;
    
    h2{
      margin: 5px;
      font-size: 2.25em;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--txt-base);
    }

    h3{
      font-size: 1.75em;
      font-weight: bold;
      color: var(--txt-nv1);
    }

    p{
      font-size: 1.25em;
      font-weight: 300;
      color: var(--txt-nv1);
    }
  }
}