/* PÁGINA: Início =============================== */
body#pagina-inicio{

  // Início: Cabeçalho ==========================
  header{
    margin: 50px auto 30px auto;
    
    h2{
      margin: 5px;
      font-family: 'Comfortaa', cursive;
      font-size: 3.1em;
      font-weight: 700;
      letter-spacing: -3px;
      color: var(--cor-destaque);
    }

    h3{
      font-size: 1.75em;
      font-weight: bold;
      color: var(--cor-base-texto);
    }

    p{
      font-size: 1.25em;
      font-weight: 300;
      color: var(--cor-base-texto);
    }
  }
}