/* PÁGINA: Sobre ================================ */
body#pagina-sobre{

  // ajuste navegação =====
  .navbar .nav-item .decoracao.decoracao-animada{ opacity: 0.8; }
  .navbar .navbar-toggler, .navbar .navbar-toggler{ color: var(--cor-invertido-texto); }

  .img-perfil{
    border: 7px solid var(--cor-destaque);
  }
  
  // Sobre: Biografia ===========================
  #secao-biografia{
    h2{
      font-family: 'Comfortaa', cursive;
      font-weight: 700;
      letter-spacing: -1px;
      margin: 15px 0px;
      font-size: 2.5em;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--cor-base-texto);
    }

    p.resumo{
      font-size: 1.15em;
      color: var(--cor-base-texto);

      a{ 
        font-weight: bold;
        color: var(---cor-destaque);
      }
    }
  }


  // Sobre: ADS =================================
  .fundo-secao-ads{ background-color: var(--cor-invertido-fundo); }

  #secao-ads{
    h3{
      margin: 15px 0px;
      font-size: 1.75em;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--cor-invertido-texto);
    }

    .separador-curto{ background-color: var(--cor-destaque-invertido); }

    .secao-ads-resumo{
      font-size: 1.15em;
      color: var(--cor-invertido-texto);

      .quote{
        color: var(--cor-media-texto);

        i{ font-weight: bold; }
      }
    }
  }

  .projetos-sobre{
    .projeto-titulo{ color: var(--cor-invertido-texto); }
    .projeto-link span { color: var(--cor-destaque-invertido); }
    .projeto-link .fa-angle-right{ color: var(--cor-destaque-invertido); }
  }
}

// ajuste navegação =====
.tema-escuro:root body#pagina-sobre {
  .navbar .nav-item .decoracao.decoracao-animada{ opacity: 0.5; }
}