/* FUNÇÕES ====================================== */
// Geral ========================================
@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}


/* VÁRIAVEIS  =================================== */
// Váriaveis: SASS ==============================
// Cores ========================================
$cor-preto: #212529;
$cor-total-preto: #1a1d20;

$cor-branco: #F8F9FA;
$cor-total-branco: #FFFFFF;

$cor-cinza-escuro: #6C757D;
$cor-cinza-claro: #A9A9A9;

$cor-destaque-claro: #C21010;
$cor-destaque-escuro: #A0DC41;

$cor-categoria-conteudo: #76D7C4;
$cor-categoria-fullstack: #A569BD;
$cor-categoria-dotnet: #2980B9;
$cor-categoria-csharp: #5D6D7E;
$cor-categoria-angular: #E74C3C;
$cor-categoria-unity: #E67E22;


// Váriaveis: CSS ===============================
// Tema Principal ===============================
:root{
  --cor-base-texto: #{$cor-preto};
  --cor-media-texto: #{$cor-cinza-escuro};

  --cor-fundo: #{$cor-branco};
  --cor-fundo-destaque: #{$cor-total-branco};

  --cor-invertido-texto: #{$cor-branco};
  --cor-invertido-fundo: #{$cor-preto};

  --cor-detalhe-rgb: #{hexToRGB($cor-cinza-escuro)};

  --cor-destaque: #{$cor-destaque-claro};
  --cor-destaque-invertido: #{$cor-destaque-escuro};
}

// Tema Escuro ==================================
.tema-escuro:root{
  --cor-base-texto: #{$cor-branco};
  --cor-media-texto: #{$cor-cinza-claro};

  --cor-fundo: #{$cor-preto};
  --cor-fundo-destaque: #{$cor-total-preto};

  --cor-invertido-texto: #{$cor-preto};
  --cor-invertido-fundo: #{$cor-branco};

  --cor-detalhe-rgb: #{hexToRGB($cor-cinza-claro)};

  --cor-destaque: #{$cor-destaque-escuro};
  --cor-destaque-invertido: #{$cor-destaque-claro};
}