/* VÁRIAVEIS  ============================== */
// Váriaveis: SASS ===============
$c-black: #212529;
$c-white: #F8F9FA;

$c-gray-1: #6C757D;
$c-gray-2: #A9A9A9;

$cat-front: #4E9F3D;


/* Váriaveis: CSS =============== */
:root{
  --txt-base: #{$c-black};
  --txt-nv1: #{$c-gray-1};
  --txt-nv2: #{$c-gray-2};

  --bg-body: #{$c-white};

  --txt-reverse: #{$c-white};
  --bg-reverse: #{$c-black};
}

.dark-theme:root{
  --txt-base: #{$c-white};
  --txt-nv1: #{$c-gray-2};
  --txt-nv2: #{$c-gray-1};

  --bg-body: #{$c-black};

  --txt-reverse: #{$c-black};
  --bg-reverse: #{$c-white};
}