<div class="footer">
  <div class="container footer-inner">
    <span class="footer-copy"><span class="copyleft">©</span> <span id="footer-year"></span> Francisco de Paula</span>

    <div class="footer-links">
      <a href="https://github.com/euchico" class="footer-link" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://www.linkedin.com/in/euchico" class="footer-link" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="/franciscodepaula-curriculo.pdf" class="footer-link" target="_blank" rel="noopener noreferrer">Currículo</a>
    </div>
  </div>
</div>
