html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

section {
  margin: 30px 0; }

.sec-base img {
  margin-bottom: 60px; }
.sec-base h3 {
  margin-bottom: 12px; }
.sec-base hr {
  margin: 12px auto 18px auto; }
.sec-base p {
  font-size: 1em;
  color: #808080; }
.sec-base .title {
  font-size: 1.5em;
  font-weight: bold;
  display: block; }

.sec-featured {
  padding: 30px 0;
  font-weight: 300; }

h1, h2, h3, h4 {
  margin: 0px; }

h2, h3, h4 {
  font-weight: bold;
  text-transform: uppercase; }

h1 {
  font-size: inherit; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1em; }

.txt-featured {
  display: block;
  font-size: 1em;
  font-weight: 300; }

a, a:focus, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit; }

hr {
  margin: 0px; }

.hr-type1 {
  width: 100px;
  margin: 12px auto 18px auto;
  border: 3px solid; }
.hr-type2 {
  width: 100%;
  border: 1px solid;
  margin: 30px auto; }
.hr-type3 {
  width: 100%;
  border: 1px solid;
  margin: 18px auto; }

.color-nv1 {
  color: #333333; }

.color-nv2 {
  color: #808080; }

.color-nv3 {
  color: #A9A9A9; }

.color-nv4 {
  color: #DCDCDC; }

.color-nv5 {
  color: #F5F5F5; }

.bg-color-nv1 {
  background-color: #333333; }

.bg-color-nv2 {
  background-color: #808080; }

.bg-color-nv3 {
  background-color: #A9A9A9; }

.bg-color-nv4 {
  background-color: #DCDCDC; }

.bg-color-nv5 {
  background-color: #F5F5F5; }

.img-profile {
  width: 200px;
  height: auto;
  border-radius: 50%; }

@media (max-width: 767px) {
  .hidden-mobile {
    display: none; } }
.bg-navagation #navagation .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 220, 220, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

#navagation .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 128, 128, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar {
  padding: 30px 15px 0px 15px; }
  .navbar li {
    margin-left: 18px;
    padding: 0px;
    font-size: 1em; }
    .navbar li:last-of-type {
      font-weight: bold; }
    .navbar li a {
      padding: 0 !important;
      text-align: center;
      text-transform: uppercase; }

.bg-navagation {
  height: 250px; }

footer {
  text-align: center;
  margin: 30px 0; }
  footer .email {
    font-size: 1em; }

.job {
  border-radius: 7px;
  background-color: #F5F5F5; }
  .job-type1 {
    height: 550px; }
  .job-type2 {
    height: 450px;
    margin: 30px 0px; }

.job-btn {
  position: absolute;
  color: #F5F5F5;
  font-weight: bold;
  background-color: #808080; }
  .job-btn-link {
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    line-height: 57px;
    text-align: center;
    border-radius: 50%; }
    .job-btn-link .icon {
      display: inline-block;
      width: auto;
      height: 35px;
      margin-right: -2px; }
  .job-btn-category {
    bottom: 12px;
    left: 12px;
    width: fit-content;
    padding: 5px 20px;
    font-size: 0.9em;
    border-radius: 50px; }

@media (max-width: 767px) {
  .m-adjust-mobile {
    margin-top: 30px; } }
.social {
  margin-top: 18px; }
  .social a {
    display: inline-block; }
  .social img {
    height: 40px;
    margin: 0 10px; }

.post-author {
  display: block;
  font-weight: bold; }

.post-date {
  display: block;
  font-weight: 300; }

.post-resume {
  margin: 18px;
  font-weight: 300; }

header {
  margin: 60px 0px 30px 0px; }
  header h3 {
    text-transform: capitalize; }
  header img {
    width: 200px;
    height: 200px;
    float: right;
    border-radius: 50%; }
  header .hr-type1 {
    margin: 12px auto 12px 0px; }

@media (max-width: 768px) {
  header {
    text-align: center; }
    header img {
      margin: 0 auto;
      float: inherit; }
    header hr {
      margin: 12px auto !important; } }
@media (max-width: 768px) {
  .job-type1 {
    max-height: 350px; } }
#sec-math {
  margin: 0px auto;
  font-weight: 300; }
  #sec-math img {
    margin-top: 30px; }

#sec-art .gallery img {
  margin-top: 30px; }

#sec-blog {
  margin-top: 60px; }

#sec-resume {
  margin-top: 60px; }

#card {
  padding: 30px;
  border-radius: 7px 7px 0px 0px; }
  #card h4 {
    margin: 12px auto 30px auto; }
  #card .img-profile {
    margin-bottom: 30px; }

#card-download {
  margin-bottom: 30px;
  padding: 1.6em;
  border-radius: 0px 0px 7px 7px; }
  #card-download #card-download-btn {
    width: fit-content;
    display: grid;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #F5F5F5; }
    #card-download #card-download-btn img {
      width: 35px;
      vertical-align: sub; }

.information {
  margin: 0px 0px 30px 0px;
  padding: 30px;
  border-radius: 7px; }
  .information-title {
    margin-bottom: 30px;
    font-weight: bold; }
  .information p {
    font-size: 0.9em;
    font-weight: 300; }
  .information ul {
    padding: 0px;
    margin-top: 18px;
    margin-bottom: 0px;
    font-size: 0.9em;
    font-weight: 300;
    list-style-type: none; }
    .information ul strong {
      font-weight: bold; }
  .information table {
    font-size: 0.9em; }
  .information .hr-type1 {
    margin-left: 0px; }

.collapse-date {
  font-size: 1em;
  font-weight: 300; }
.collapse-area {
  margin-bottom: 12px;
  padding-left: 1em;
  border-left: 0.2em solid #808080; }
.collapsetitle {
  display: block;
  font-weight: bold;
  text-transform: uppercase; }

.logo-part1 {
  font-size: 1.5em;
  font-weight: 300; }
.logo-part2 {
  font-size: 1.5em;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
